@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* *, */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #333;
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0px;
  z-index:9999;
}
.logo{
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.links a{
  color: whitesmoke;
  text-decoration: none;
  letter-spacing: 3.2px;
  font-weight: bold;
}
.links li{
  list-style: none;
}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height:2px;
  background-color:whitesmoke;
  margin:5px;
  transition: all 0.3s ease;
}
.section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg1 {
  background: rgb(116, 114, 114);
}
.bg2 {
  background-color: #333;
  height: 10vh;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #333;
  font-family: 'Lobster', cursive;
  font-weight: 300;
  padding-top: 150px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
#git{
  display: grid;
  height: 40px;
  width: 90px;
  margin-bottom: 600px;
  padding:0.35em 1.2em;
  border: 0.15em solid #333;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
  margin-right: 8px;
  font-family: 'Poppins', sans-serif;
}
#resume{
  display: grid;
  height: 40px;
  width: 90px;
  margin-bottom: 600px;
  padding:0.35em 1.2em;
  border: 0.15em solid #333;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  text-align: center;
  transition: all 0.2s;
  background-color: #ffffff00;
  margin-left: 8px;
  font-family: 'Poppins', sans-serif;
}
#git:hover{
  color: whitesmoke;
  background-color: #333;
  cursor: pointer;  
  border: 0.15em solid whitesmoke;
}
#resume:hover{
  color: whitesmoke;
  background-color: #333;
  cursor: pointer;
  border: 0.15em solid whitesmoke;
}
#background {
  background-image: url(https://images.unsplash.com/photo-1501436513145-30f24e19fcc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80);
  height:200vh;
  background-size:cover;
  background-repeat: no-repeat;
  margin:0;
  padding:0;
}
.card-text{
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 17px;
}
.card-title{
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.card-img-top{
  text-align: center;
  width: 100%;
}
.btn-primary{
  padding:0.35em 1.2em;
  border: 0.15em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: #ffffff00;
  margin-left: 8px;
  font-family: 'Poppins', sans-serif;
}
.btn-secondary{
  padding:0.35em 1.2em;
  border: 0.15em solid #ffffff;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background-color: #ffffff00;
  margin-left: 8px;
  font-family: 'Poppins', sans-serif;
}
.btn-primary:hover{
  color: #333;
  background-color: whitesmoke;
  cursor: pointer;
}
.btn-secondary:hover{
  color: #333;
  background-color: whitesmoke;
  cursor: pointer;
}
.footer{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
}

@media screen and (max-width:1024px){
  body{
  overflow-x: hidden;
  position: relative;
  }
  .links{
  width:60%;
  }
  #background{
  display: grid;
  height:150vh;
  }
  #git{
  display: grid;
  height: 40px;
  width: 90px;
  margin-bottom: 600px;
  padding:0.35em 1.2em;
  border: 0.15em solid #333;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  text-align: center;
  transition: all 0.2s;
  background-color: transparent;
  margin-right: 8px;
  font-family: 'Poppins', sans-serif;
  }
  #resume{
  display: grid;
  height: 40px;
  width: 90px;
  margin-bottom: 600px;
  padding:0.35em 1.2em;
  border: 0.15em solid #333;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
  text-align: center;
  transition: all 0.2s;
  background-color: #ffffff00;
  margin-left: 8px;
  font-family: 'Poppins', sans-serif;
  }
  #git:hover{
    color: whitesmoke;
    background-color: #333;
    cursor: pointer;  
    border: 0.15em solid whitesmoke;
  }
  #resume:hover{
    color: whitesmoke;
    background-color: #333;
    cursor: pointer;
    border: 0.15em solid whitesmoke;
  }
}

@media screen and (max-width:740px){
  body{
    overflow-x: hidden;
    position: relative;
    }
  h1{
   font-size: 50px;
   text-align: center;
   margin-left: auto;
  }
  .links{
    position: absolute;
    right:0px;
    height:100vh;
    top:8vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    transform:translateX(100%);
    transition: transform 0.5s ease-in;
    overflow-x: hidden;
  }
  .links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
  #background{
    display: flex;
    height: 60vh;
  }
  #git{
    display: none;
  }
  #resume{
    display: none;
  }
}
@keyframes linksFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.links-active{
  transform: translateX(0%);
}
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-3px,-6px);
}