@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* *, */

/* @media only screen and (min-width:1024px){ */

.nav-button{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition:0.6s;
  padding: 40px 100px;
}


  .section {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg1 {
  background-color: aqua;
  background:linear-gradient(blue 45,teal 25,)
}
.bg2 {
  background-color: #333;
  height: 10vh;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #333;
  font-family: 'Lobster', cursive;
  font-weight: 300;
  padding-top: 150px;
}

* {
  margin:0;
  padding:0;
}
#background {
background-image: url(https://images.unsplash.com/photo-1501436513145-30f24e19fcc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80);
height:200vh;
background-size:cover;
background-repeat: no-repeat;
margin:0;
padding:0;
/* background-position: center center; */

}


/* } */